.modal-window{
    border-radius: 10px;
    padding: 15px;
    min-width: 400px;
    height: fit-content;
    outline: none;
    border: var(--vkui--size_border2x--regular) solid var(--vkui--color_field_border_alpha);

    &::backdrop{
        background-color: #050505;
        opacity: 0.2;
    }

    & > .modal-window__close {
        position: absolute;
        inset: 15px 15px auto auto;
        width: 20px;
        height: 20px;
        z-index: 1001;

        &:hover {
            cursor: pointer;
        }
    }
}
