.manager-item__root{
    padding: 0 20px;
    display: grid;
    grid-template-columns: 64px 1fr 300px;
    grid-template-rows: 50%;
    height: 64px;
    border-radius: var(--vkui--size_border_radius--regular);

    &:hover {
        background-color: var(--vkui--color_background_content--hover);
        cursor: pointer;
    }

    &:link, &:visited{
        color: var(--vkui--color_text_primary);
        text-decoration: none;
    }
}

.manager-item__image-wrap{
    align-items: start;
    display: flex;
    justify-content: center;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.manager-item__id{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    gap: 20px;
    margin-left: 10px;
    color: var(--vkui--color_text_secondary);
}

.manager-item__name{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    margin-left: 10px;
}


.manager-item__served{
    margin-left: 30px;
    color: var(--vkui--color_text_secondary);
    font-weight: 300;
}

.manager-item__delete-served{
    color: var(--vkui--color_text_negative);
    font-weight: 400;
    &:hover {
        color: var(--vkui--color_text_negative--hover);
    }
}

.manager-item__add-served {
    color: var(--vkui--color_text_accent);
    font-weight: 400;
    &:hover {
        color: var(--vkui--color_text_accent--hover);
    }
}

.manager-item__button-block{
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.manager-item__button-block{
    align-items: center;
    display: flex;
    justify-content: end;
    gap: 8px;

    & > .manager-item__edit {
        color: var(--vkui--color_icon_accent);
        &:hover {
            color: var(--vkui--color_icon_accent--hover)
        }
    }

    & > .manager-item__delete {
        color: var(--vkui--color_icon_negative);
        &:hover {
            color: var(--vkui--color_icon_negative--hover);
        }
    }
}

.manager-item__button{
    &:hover{
        cursor: pointer;
    }
}
